
<div class="container">
    <nav>
        <a [routerLink]="['dashboard', 'activities']" [routerLinkActive]="'active'">Activities</a>
        <a [routerLink]="['dashboard', 'todo']">Todos</a>
    </nav>
    <router-outlet></router-outlet>
    <!--<div class="grid-container">
        &lt;!&ndash;  <app-user-panel (periodChanged)="onPeriodChange($event)"></app-user-panel>&ndash;&gt;
        <app-user-panel></app-user-panel>
        <app-activity-card
                [activity]="activity"
                *ngFor="let activity of selectedActivitiesList"
        >
        </app-activity-card>
    </div>-->
</div>

