/* You can add global styles to this file, and also import other style files */
.card {
  color: white;
  background-color: #592a86;
  display: grid;
}



@media (min-width: 375px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 32px;

    app-user-panel {
      display: grid;
      grid-row: 1 / 3;

      .period {
        flex-direction: column;
        margin-top: 16px;
      }
    }
  }
}

@media (max-device-width: 375px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .period {
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
}

