/* You can add global styles to this file, and also import other style files */
* {
  font-family: Montserrat, sans-serif;
}

.card {
  color: white;
  background-color: #592a86;
  display: grid;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 32px;

  app-user-panel {
    display: grid;
    grid-row: 1 / 3;

    .period {
      flex-direction: column;

      .button {
        margin-top: 16px;
      }
    }
  }
}


